<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>A Litte About Me</h1>
    <p>I am a Web Developer from Chicago. I started my journey as a web developer learning from free sources on the web and evenually decided to pursue a Coding Bootcamp named Coding Dojo. At Coding Dojo I learned web fundamentals, Python, MEAN, and C#.
        While in the bootcamp I realized my passion for coding and learning and soon after pursued an internship through ..... I next enrolled in a Masters of Software enigineering program through Depaul. On my free time I try to stay presence in the
        tech scene within Chicago. I currently mentor and teach middle and high schoolers web fundamentals at Gary Comer Middle School once and week and host a Meetup called Talk,Tech,and Teach to offer a platform for those who are new and veteran to
        the industry to learn, mentor, and grow together. This meetup is in collabration with Alpha Phi Alpha. </p>

</body>

</html>